$blue-light: #272a31;
$blue: #14181f;
$blue-dark: #0a0c10;

$red-light: #f02a2f;
$red: #ea1d22;
$red-dark: #b31317;

$white-light: #f4f7fb;
$white: #edf1f7;
$white-dark: #e5e9ef;

$grey-1: #b5b6b8;
$grey-2: #a1a3a5;
$grey-3: #959698;